{% extends 'base/base.html' %}
{% load static %}
{% block title_block %} Profile {% endblock %}
{% block content_block %}
  <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1>Profile</h1>
                  </div>
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active">Profile</li>
                    </ol>
                  </div>
                </div>

                  <div id="msg_wrapper" class="alert alert-warning d-none" role="alert">
                     <span id="msg"></span>
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 </div>

              </div><!-- /.container-fluid -->
            </section>
          <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-3">
                  <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                      <div class="card-body box-profile">
                        <div class="text-center">
                            <a href="#" title="Click to update image">
                                {% if request.user.is_authenticated and request.user.profile.profile_image %}
                              <img class="profile-user-img img-fluid img-circle"
                                   style="width: 130px; height: 130px"
                                   src="{{ request.user.profile.profile_image.url }}"
                                   alt="{% if request.user.is_authenticated %}
                                      {% if request.user.username %} {{ request.user.username|capfirst }} {% else %} {{ request.user.email }} {% endif %}
                                    {% else %}
                                    User
                                    {% endif %}">
                              {% else %}
                              <img class="profile-user-img img-fluid img-circle"
                                   src="{% static 'static_images/img/user1-128x128.jpg' %}"
                                   alt="User profile picture">
                              {% endif %}
                             </a>
                        </div>
                            <h3 class="profile-username text-center">{% if user.username %}{{ user.username|capfirst }}{% else %}{{ user.email }}{% endif %}</h3>
                            <p class="text-muted text-center">{{ user.user_type }}</p>

                            <ul class="list-group list-group-unbordered mb-3">
                              <li class="list-group-item">
                                <b>Project incoming request</b> <a class="float-right">{{ total_project }}</a>
                              </li>
                              <li class="list-group-item">
                                <b>Username</b> <a class="float-right">{% if user.username %}{{ user.username }}{% else %} Null {% endif %}</a>
                              </li>
                              <li class="list-group-item">
                                <b>Email</b> <a class="float-right">{{ user.email }}</a>
                              </li>
                              <li class="list-group-item">
                                <b>Phone no</b> <a class="float-right">{% if user.profile.phone_no %}{{ user.profile.phone_no }} {% else %} Null {% endif %}</a>
                              </li>
                              <li class="list-group-item">
                                <b>Gender</b> <a class="float-right">{{ user.profile.gender }}</a>
                              </li>
                              <li class="list-group-item">
                                <b>Profile created by</b> <a class="float-right">{{ user.profile.invited_by }}</a>
                              </li>
                              <li class="list-group-item">
                                {% load tz %}
                                <b>Profile created on</b> <a class="float-right">{{ user.profile.timestamp|timezone:local_tz }}</a>
                              </li>
                            </ul>
                            <a class="btn btn-primary text-white">Update Profile</a>
                      </div> <!-- /.card -->
                    </div>
              </div>

            <!-- /.col -->
              <div class="col-md-9">
                <div class="card">
                <div class="card-header mb-4">
                    <div class="d-flex justify-content-between">
                        <h2>Your projects</h2> <h2 class="mr-4" style="padding-right: 50px;">Member / Contact</h2>
                    </div>
                </div>
                  <div class="card-body">
                      <div class="row">
                          <div class="col-md-12">
                                <!-- Post -->
                                 {% for project in projects %}
                                <div class="post d-flex align-items-center justify-content-center">
                                    <div class="post__left" style="width: 70%">
                                        <h3><span class="text-info">Project name </span> : {{ project.title }} <small>( Crew {{ project.confirm_members.all.count }} )</small></h3>
                                        {% load tz %}
                                        <h5><span class="text-info">Shared publicly </span> : - {{ project.public_shared|timezone:local_tz }}</h5>
                                        <p><span class="text-info">Project description </span> : {{ project.sliced_description }}</p>
                                        <a href="{% url 'dashboard:project-detail' pk=project.id %}" class="btn btn-sm btn-primary text-white" style="cursor: pointer"><i class="fas fa-folder"></i> View</a>

                                        <button onclick=projectRequestConfirm({{project.id}}) id="request__btn{{project.id}}" class="btn btn-sm btn-{% if request.user in project.confirm_members.all %}success{% else %}warning{% endif %}"><i class="far fa-check-circle"></i>{% if request.user in project.confirm_members.all %}Confirmed{% else %}Pending{% endif %}</button>

                                    </div>
                                    <div class="post__right pl-4 ml-4" style="width: 30%">
                                        {% for project_user in project.confirm_members.all %}
                                        <div class="user-block">
                                         {% if project_user.profile.profile_image %}
                                          <img class="img-circle img-bordered-sm" src="{{ project_user.profile.profile_image.url }}" alt="{{ project_user.username }}">
                                         {% else %}
                                          <img class="img-circle img-bordered-sm" src="{% static 'static_images/img/user1-128x128.jpg' %}" alt="{{ project_user.username }}">
                                         {% endif %}
                                        <span class="username">
                                          <a href="#" class="d-block pt-2">{{ project_user.username }}</a>
                                        </span>
                                    </div>
                                    {% empty %}
                                      <div class="user-block">
                                          <h6 class="text-danger pl-4">Crew doesn't exists for this project !</h6>
                                      </div>
                                    {% endfor %}
                                    </div>
                                </div>
                                 {% empty %}
                               <div class="post">
                                   No fount !
                               </div>
                                 {% endfor %}
                                <!-- /.post -->
                          </div>

                           <div class="col-md-12">
                              <div class="mt-4">
                                  <nav aria-label="Contacts Page Navigation pt-4">
                                    <ul class="pagination rounded-separated pagination-danger">
                                        {% if projects.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page={{ projects.previous_page_number }}"> <<</a></li>
                                        {% endif %}
                                        {% for num in projects.paginator.page_range %}
                                        {% if projects.number == num %}
                                        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                        {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                        {% if projects.has_next %}
                                        <li class="page-item"><a class="page-link" href="?page={{ projects.next_page_number }}"> >> </a></li>
                                        {% endif %}
                                    </ul>
                                  </nav>
                              </div>
                         </div>

                      </div>
                  </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
              </div>
              <!-- /.col -->

          </div>
      </div>
    </section>
  </div>
{% endblock %}


{% block js_block %}
<script>

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

function projectRequestConfirm(id) {
    var request__btn = document.getElementById(`request__btn${id}`)

    console.log("response", id)
    console.log("response", request__btn)
        request__btn.style.color = "white";
        var url = `https://shajjadpms.herokuapp.com/project-request-accept/${id}/`
<!--        var url = `http://127.0.0.1:8000/project-request-accept/${id}/`-->
        fetch(url, {
        method: 'POST',
        headers: {
            'Content-type': 'application/json',
            'X-CSRFToken': csrftoken
        }
        })
        .then((response) => response.json())
        .then((response) => {

            request__btn.innerHTML = response.approve_status
            request__btn.classList.remove('btn', 'btn-sm', 'btn-warning')
            request__btn.classList.add('btn', 'btn-sm', 'btn-success')
            msg_wrapper.classList.remove('alert', 'alert-warning', 'd-none')
            msg_wrapper.classList.add('alert', 'alert-warning')
            msg.innerHTML = response.approved_msg
        })

};



</script>
{% endblock %}

