{% extends 'base/base.html' %}
{% load static %}
{% block title_block %} Add Crew for Role : {{ title }} {% endblock %}
{% block content_block %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Add Crew for Role : &nbsp; {{ title }}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <form action="" method="POST">{% csrf_token %}
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Project : "{{ project.title }}" ===> Add Crew for "{{ title }}"</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i></button>
              </div>
            </div>
            {% if messages %}
            {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }} {% endif %}" role="alert">
                {{ message }}  &nbsp; &nbsp; <a class="" href="{% url 'account:member-list' %}">View all available Members</a>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            {% endfor %}
            {% endif %}



            <div class="row">
                <div class="col-md-6">
                <div class="card-body">

                  <div class="form-group mt-4 pt-4">
                        <label for="inputStatus">Select Crew</label>
                        <select class="form-control custom-select" name="member">
                            <option selected disabled>Select one</option>
                        {% for user in project.confirm_members.all %}

                            <option value="{{ user.id }}">{{ user }}</option>
                        {% empty %}
                          <option>User not fount ! User didn't accept proposal for this project yet</option>
                        {% endfor %}
                        </select>
                      </div>
                </div>
                </div>
                <div class="col-md-6">
                     <div class="card" style="height: 100%">
                      <div class="card-header">
                          <h3>Project : <span class="text-info">{{ project.title }}</span> </h3>
                      </div>
                      <div class="card-body">
                           <table class="text-left" style="width: 100%">
                            <thead>
                            <tr class="py-4">
                                <th>Role</th>
                                <th>Crew</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for role in project.roles.all %}
                            <tr>
                              <td class="py-2">{{ role.role_title }}</td>
                              <td class="py-2">{{ role.member }}</td>
                              <td class="py-2">
                               {% if role.member %}
                                ------------
                               {% else %}
                                  <a class="btn btn-info btn-sm" title="Click to add project start and complete datetime" href="{% url 'dashboard:add-crew-in-role' title=role.role_title project_id=project.id role_id=role.id %}">
                                  <i class="fas fa-plus">
                                  </i>
                                  Crew
                                  </a>
                              {% endif %}
                              </td>
                              {% empty %}
                            </tr>
                            <tr>
                                <td colspan="3" class="text-center py-4"> <span class="text-danger">Role not fount for</span> <span class="text-info">{{ project.title }} !</span></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                      </div>
                      <div class="card-footer">
                          Members and Contacts are assigned individual role
                          for <span class="text-info">{{ title }}</span>
                      </div>
                  </div>
                </div>
            </div>


            <!-- /.card-body -->

          </div>
          <!-- /.card -->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button onClick="javascript:history.go(-1)" class="btn btn-primary text-white">Back</button>
          <input type="reset" value="Reset" class="btn btn-secondary">
          <input type="submit" value="Create" class="btn btn-success">
        </div>
      </div>
      </form>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}