{% extends 'base/base.html' %}
{% load static %}
{% block title_block %} Create new project {% endblock %}
{% block content_block %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Project Add</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Create new project</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i></button>
              </div>
            </div>
            		{% if messages %}
                    {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }} {% endif %}" role="alert">
                        {{ message }}  &nbsp; &nbsp; <a class="" href="{% url 'dashboard:projects-list' %}">View all available Projects</a>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    {% endfor %}
                    {% endif %}
            <div class="d-flex">
              <div class="card-body">
              <div class="form-group">
                <label>Project name / title *</label>
               {{ form.title }}
              </div>
              <div class="form-group">
                <label>Project description *</label>
                {{ form.description }}
              </div>
              <div class="form-group">
                <label>Project leader</label>
                  {{ form.project_leader }}
              </div>

                  <div class="form-group" id="file_div_wrapper">
                    <label>Add project files</label>

                    <div class="input-group">
                      <div class="custom-file" id="file_input_container">
                         <input type="file" class="form-control" name="file_name">
                          <button id="add" class="btn btn-primary" type="button"> <i class="fas fa-plus"></i></button>
                      </div>
                    </div>

                  </div>

              <div class="form-group">
                {{ form.public }}
                 <label>Public</label>
              </div>

            </div>
             <div class="mt-4 overflow-auto" style="min-width: 20%;">
               <label style="background: #fff; display:block; width: 200px; height: 40px; z-index: 100; text-align: left; padding-left: 24px">Add crew</label>
               <div style="margin-top: 60px width: 100%; height: 360px; overflow-y: auto">
                  <div class="form-group">
                      <div class="form-check">
                        {{ form.members }}
                      </div>
                  </div>
               </div>
             </div>
            </div>
            <!-- /.card-body -->

          </div>
          <!-- /.card -->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button onClick="javascript:history.go(-1)" class="btn btn-primary text-white">Back</button>
          <input type="reset" value="Reset" class="btn btn-secondary">
          <input type="submit" value="Create" class="btn btn-success">
        </div>
      </div>
      </form>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %}

{% block js_block %}
<script>
    window.addEventListener("load", function() {
    document.getElementById("add").addEventListener("click", function() {
    var file_div_wrapper = document.getElementById("file_div_wrapper")

    var inputGroup = document.createElement("div");
                  inputGroup.setAttribute("class", "input-group");
        file_div_wrapper.appendChild(inputGroup);

    var customFile = document.createElement("div");
              customFile.setAttribute("class", "custom-file my-2");

    inputGroup.appendChild(customFile)


    var file = document.createElement("input");
    file.setAttribute("type", "file");
    file.setAttribute("class", "form-control");
    file.setAttribute("name", "file_name");

    customFile.appendChild(file);
    var minusBtn = document.createElement("button");
                   minusBtn.setAttribute("class", "btn btn-danger");
                   minusBtn.setAttribute("type", "button");
                   customFile.appendChild(minusBtn)
    var icon = document.createElement("i");
               icon.setAttribute("class", "fas fa-minus");
               minusBtn.appendChild(icon);

    minusBtn.addEventListener('click', function() {
    inputGroup.remove()
    this.remove()
});
  });
});
</script>
{% endblock %}