{% extends 'account/account_base.html' %}
 {% block login_sign_up_title %} Forgate password {% endblock %}

{% block login_sign_up_block %}
<body class="hold-transition login-page">
<div class="login-box">
	<div class="login-logo">
		<a href=""><b>Recover your password</b></a>
	</div>
	<!-- /.login-logo -->
	<div class="card">
		<div class="card-body login-card-body">
			<p class="login-box-msg">Forgot your password ?</p>

			<div id="msg_wrapper" class="alert alert-warning {% if error %}{% else %}d-none{% endif %}" role="alert">
                 <span id="msg">{{ error }}</span>
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             </div>

			<form action="{% url 'account:forget-password' %}" method="POST">{% csrf_token %}
				<div class="input-group mb-3">
					<input type="email" name="email" class="form-control" placeholder="Input your login email">
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-envelope"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-8">
						<a href="{% url 'account:login-user' %}">Back to login page</a>
					</div>
					<!-- /.col -->
					<div class="col-4">
						<button type="submit" class="btn btn-primary btn-block">Send</button>
					</div>
					<!-- /.col -->
				</div>
			</form>
		</div>
		<!-- /.login-card-body -->
	</div>
</div>
{% include 'account/js.html' %}
</body>
{% endblock %}